* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  /* color: #; */
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.Link404 {
  align-items: center;
  font-weight: normal;
  font-size: 15px;
  display: flex;
  padding: 10px;
  background-color: rgb(0, 4, 36);
  border-radius: 5px;
}
.extra {
  width: 50px;
  position: absolute;
}
@media (max-width: 768px) {
  .Nav {
    position: fixed;
    height: 100vh;
    width: 70%;
    background-color: rgb(7, 7, 48);
    left: -70%;
    top: 0;
    z-index: 5;
    gap: 50px;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .imageContainer img {
    width: 250px;
  }
}
.errorPage {
  padding: 2%;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../src/images/404-image.jpg);
}

.AboutPageBackground,
.ContactPageBackground,
.WorkPageBackground,
.ResumePageBackground {
  padding: 2%;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  border: 1px solid #b1b1b19e;
}
.AboutPageBackground {
  background-image: url(../src/images/aboutBg.jpg);
}
.ContactPageBackground {
  background-image: url(../src/images/contactBg.jpg);
}
.WorkPageBackground {
  background-image: url(../src/images/workBg.jpg);
}
.ResumePageBackground {
  background-image: url(../src/images/resumeBg.jpg);
}

.contactIllustration {
  padding: 2%;
  border-radius: 5px;
  background-position: center;
  height: 40vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(../src/images/contactIllustration.jpg);
}
.workNavActive {
  outline: 1px solid rgba(0, 0, 255, 0.783);
}
.workNav {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #8888887d;
  color: #353535;
  cursor: pointer;
  text-transform: capitalize;
  display: inline-block;
}

.follow-cursor {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: transform 0.1s ease-out;
  filter: blur(20px);
}
.follow-cursor div:nth-child(1) {
  width: 100px;
  height: 100px;
  background-color: #003da78d;
  position: absolute;
  border-radius: 50%;
  top: 40px;
}
.follow-cursor div:nth-child(2) {
  width: 100px;
  height: 100px;
  background-color: #03125783;
  border-radius: 50%;
   position: absolute;
  top: 20px;
  left: 20px;
}
.follow-cursor div:nth-child(3) {
  width: 100px;
  height: 100px;
  background-color: #38a0e157;
  border-radius: 50%;
   position: absolute;
  top: 20px;
}
.follow-cursor:hover {
  transform: scale(1.5);
}
